body {
  padding: 0;
}

.square {
  height: 50px;
  border: 1px solid red;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
}

.problem {
  font-size: 2em;
  text-align: center;
}

.problem input {
  width: 3em;
}

.answer-div {
  border-top: 1px solid dimgrey;
  padding-top: 5px;
}