<div id="topLeft" class="col-xs-offset-3 col-xs-3">
  <square-directive position="1"></square-directive>
</div>

<div id="topMiddle" class="col-xs-3">
  <square-directive position="2"></square-directive>
</div>

<div id="topRight" class="col-xs-3">
  <square-directive position="3"></square-directive>
</div>

<div id="midLeft" class="col-xs-offset-3 col-xs-3">
  <square-directive position="4"></square-directive>
</div>

<div id="midMiddle" class="col-xs-3">
  <square-directive position="5"></square-directive>
</div>

<div id="midRight" class="col-xs-3">
  <square-directive position="6"></square-directive>
</div>

<div id="bottomLeft" class="col-xs-offset-3 col-xs-3">
  <square-directive position="7"></square-directive>
</div>

<div id="bottomMiddle" class="col-xs-3">
  <square-directive position="8"></square-directive>
</div>

<div id="bottomRight" class="col-xs-3">
  <square-directive position="9"></square-directive>
</div>